################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.localhistory/*
/.vs/*
*/obj/*
*/bin/*
*.user
/packages
*.nupkg
